<div dir="rtl">
  <h2 class="popup-title py-3">{{ data ? 'تعديل خصم' : 'إضافة خصم' }}</h2>
  <form [formGroup]="form" class="popup-form p-4" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="custom-input-theme" style="width:100%;">
      <mat-label>كود الموظف</mat-label>
      <input  type="text" matInput [(ngModel)]="employeeFilter" (ngModelChange)="onEmployeeFilterChange($event)" (focus)="onEmployeeInputFocus()" [matAutocomplete]="auto" formControlName="employeeCode" placeholder="ابحث بالاسم أو الكود" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onEmployeeSelected($event)">
        <mat-option *ngFor="let e of employees | slice:0:50" [value]="e.employeeCode">{{e.fullName || e.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input-theme" style="width:100%;">
      <mat-label>تاريخ الخصم</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deductionDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input-theme" style="width:100%;">
      <mat-label>ساعات الخصم</mat-label>
      <input matInput type="number" formControlName="deductionAmount">
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input-theme" style="width:100%;">
      <mat-label>السبب</mat-label>
      <textarea matInput rows="3" formControlName="deductionReason"></textarea>
    </mat-form-field>

    <div class="popup-actions">
      <button mat-dialog-close class="popup-btn-cancel" (click)="close()" type="button">إلغاء</button>
      <button class="popup-btn-save" (click)="submit()" [disabled]="form.invalid">حفظ</button>
    </div>
  </form>
</div>
