<h2 class="popup-title py-5">
  {{ isEditMode ? 'تعديل الفئة' : 'إضافة  منتج' }}
</h2>

<form [formGroup]="form" class="popup-form p-2">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>اسم المنتج</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">حقل مطلوب</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>سعر البيع </mat-label>
    <input matInput formControlName="sellingPrice" type="number"/>
    <mat-error *ngIf="form.get('sellingPrice')?.hasError('required')">حقل مطلوب</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>عدد النقاط مقابل القطعة  </mat-label>
    <input matInput formControlName="pointPerUnit" />
    <mat-error *ngIf="form.get('pointPerUnit')?.hasError('required')">حقل مطلوب</mat-error>
  </mat-form-field>
   <mat-form-field appearance="outline" class="full-width">
    <mat-label>أقل كمية ممكنه </mat-label>
    <input matInput formControlName="theSmallestPossibleQuantity" type="number" />
    <mat-error *ngIf="form.get('theSmallestPossibleQuantity')?.hasError('required')">حقل مطلوب</mat-error>
  </mat-form-field>
   <mat-form-field appearance="outline" class="full-width">
    <mat-label>أعلي كمية ممكنه </mat-label>
    <input matInput formControlName="theHighestPossibleQuantity" type="number" />
    <mat-error *ngIf="form.get('theHighestPossibleQuantity')?.hasError('required')">حقل مطلوب</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
  <mat-label>اختر الفئة</mat-label>
  <mat-select formControlName="categoryId">
    <mat-option *ngFor="let cat of categories" [value]="cat.id">
      {{ cat.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.get('categoryId')?.hasError('required')">
    حقل مطلوب
  </mat-error>
</mat-form-field>

</form>

<div class="popup-actions">
  <button mat-dialog-close class="popup-btn-cancel" (click)="close()">إلغاء</button>
  <button class="popup-btn-save" [disabled]="form.invalid" (click)="  save()" >
    حفظ
  </button>
</div>
