<div class="invoice-container">
  <div class="invoice-header">
    <h2 class="invoice-title"> إنشاء فاتورة  جديدة </h2>
  </div>
  <hr class="divider">

  <form [formGroup]="invoiceForm"  (submit)=" submitInvoice()" class="invoice-form">

    <!-- القسم الأول: بيانات الفاتورة الأساسية -->
    <div class="section invoice-info-section">
      <h3 class="section-title">بيانات الفاتورة</h3>
      <div class="form-row">
        <!-- <mat-form-field appearance="outline" class="custom-input-theme">
          <mat-label>العميل</mat-label>
          <mat-select formControlName="distributorId">
            <mat-option>
              <ngx-mat-select-search
                [formControl]="CustomerSearchCtrl"
                placeholderLabel="ابحث باسم العميل"
                noEntriesFoundLabel="لا يوجد عميل">
              </ngx-mat-select-search>
            </mat-option>
            @for (sup of FilteredCustomers; track sup.id) {
              <mat-option [value]="sup.id">{{ sup.fullName }}</mat-option>
            }
          </mat-select>
          @if (invoiceForm.get('distributorId')?.invalid && invoiceForm.get('distributorId')?.touched) {
            <mat-error>يرجى اختيار العميل</mat-error>
          }
        </mat-form-field> -->
<mat-form-field appearance="outline" class="custom-input-theme">
  <mat-label>العميل</mat-label>
  <mat-select formControlName="distributorId">

    <!-- Search must be inside a mat-option -->
    <mat-option>
      <ngx-mat-select-search
        [formControl]="CustomerSearchCtrl"
        placeholderLabel="ابحث باسم العميل"
        noEntriesFoundLabel="لا يوجد عميل">
      </ngx-mat-select-search>
    </mat-option>

    <!-- Loop through filtered customers -->
    @for (sup of FilteredCustomers; track sup.id) {
      <mat-option [value]="sup.userId">{{ sup.fullName }}</mat-option>
    }

  </mat-select>

  @if (invoiceForm.get('distributorId')?.invalid && invoiceForm.get('distributorId')?.touched) {
    <mat-error>يرجى اختيار العميل</mat-error>
  }
</mat-form-field>
@if (isEditMode) {
          <mat-form-field appearance="outline" class="custom-input-theme" >
          <mat-label>رقم الفاتورة</mat-label>
          <input matInput formControlName="invoiceNumber" readonly>
          @if (invoiceForm.get('invoiceNumber')?.invalid && invoiceForm.get('invoiceNumber')?.touched) {
            <mat-error>رقم الفاتورة اجباري</mat-error>
          }
        </mat-form-field>
}

      </div>
    </div>

    <!-- القسم الثاني: المنتجات -->
    <div class="section products-section" formArrayName="items">
      <div class="section-header">
        <h3 class="section-title">المنتجات</h3>

      </div>

      <div class="products-list">

           <ng-container *ngFor="let item of items.controls; let i = index; let last = last">
          <div [formGroupName]="i" class="product-card">

              <div class="product-content d-flex justify-content-evenly align-items-center">
              <!-- رقم المنتج -->
              <div class="product-number-wrapper">
                <span class="product-number">{{ i + 1 }}</span>
              </div>

              <!-- حقول المنتج -->
              <div class="product-fields">
                <div class="product-form-row">

<mat-form-field appearance="outline" class="w-100">
  <mat-label>المنتج</mat-label>

  <mat-select formControlName="productID">

    <!-- search input -->
    <mat-option>
      <ngx-mat-select-search
        [formControl]="ProductSearchControl"
        placeholderLabel="ابحث عن المنتج..."
        noEntriesFoundLabel="لا يوجد منتجات">
      </ngx-mat-select-search>
    </mat-option>

    <!-- products -->
    @for (pro of filteredProducts[i]; track pro.id) {
      <mat-option [value]="pro.id">
        {{ pro.name }} - {{ pro.productCode }}
      </mat-option>
    }

  </mat-select>

  <mat-error *ngIf="items.at(i).get('productID')?.invalid">
    المنتج مطلوب
  </mat-error>
</mat-form-field>
                  <mat-form-field appearance="outline" class="custom-input-theme">
                    <mat-label>الكمية</mat-label>
                    <input matInput type="number"  formControlName="quantity">
                    @if (item.get('quantity')?.invalid && item.get('quantity')?.touched) {
                      <mat-error>الكمية إجباري</mat-error>
                    }
                    <mat-error *ngIf="item.get('quantity')?.hasError('min')">الكمية يجب أن تكون على الأقل 1</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="custom-input-theme">
                    <mat-label>سعر البيع</mat-label>
                    <input matInput type="number" formControlName="sellingPrice"  readonly>
                    @if (item.get('sellingPrice')?.invalid && item.get('sellingPrice')?.touched) {
                      <mat-error>سعر الشراء إجباري</mat-error>
                    }
                  </mat-form-field>
                </div>

                <div class="product-form-row">
                  <mat-form-field appearance="outline" class="custom-input-theme">
                    <mat-label>نسبة الخصم</mat-label>
                    <input matInput type="number"  formControlName="precentageRival">
                    @if (item.get('precentageRival')?.invalid && item.get('precentageRival')?.touched) {
                      <mat-error>نسبة الخصم إجباري</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="custom-input-theme">
                    <mat-label>خصم نقدي</mat-label>
                    <input matInput  type="number" formControlName="rivalValue">
                    @if (item.get('rivalValue')?.invalid && item.get('rivalValue')?.touched) {
                      <mat-error>خصم نقدي إجباري</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="custom-input-theme">
                    <mat-label>إجمالي الخصم</mat-label>
                    <input matInput readonly type="number" formControlName="totalRivalValue">
                  </mat-form-field>
                </div>

                <div class="product-totals mb-4 mt-0">
                  <div class="total-item">
                    <span class="total-label">الإجمالي قبل الخصم:</span>
                    <span class="total-value">{{ item.get('totalGrowthAmount')?.value | number:'1.2-2' }}</span>
                  </div>
                  <div class="total-item highlight">
                    <span class="total-label">الإجمالي بعد الخصم:</span>
                    <span class="total-value success">{{ item.get('totalNetAmount')?.value | number:'1.2-2' }}</span>
                  </div>
                </div>
              </div>

              <!-- زر الحذف -->
              <div class="product-delete-wrapper" *ngIf="items.length > 1">
                <button type="button" (click)="removeItem(i)" class="action-btn delete-btn">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </div>


          </div>

          <!-- خط فاصل ذهبي بين المنتجات -->
          <div class="product-divider" *ngIf="!last"></div>
        </ng-container>


      </div>

           <button type="button" (click)="addItem()" class="action-btn add-btn d-flex justify-content-evenly align-items-center">
          <mat-icon>add</mat-icon>
          <span>إضافة منتج</span>
        </button>
    </div>

    <!-- القسم الثالث: ملخص الفاتورة -->
    <div class="section invoice-summary-section">
      <h3 class="section-title">ملخص الفاتورة</h3>
      <div class="summary-grid">
        <div class="summary-row">
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي المنتجات</mat-label>
            <input matInput readonly formControlName="totalGrowthAmount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي الكوبونات</mat-label>
            <input matInput  formControlName="totalCopouns">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>الخصم الأول</mat-label>
            <input matInput formControlName="firstDiscount">
          </mat-form-field>
        </div>

        <div class="summary-row">
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>الخصم الثاني</mat-label>
            <input matInput formControlName="secondDiscount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>الخصم الثالث</mat-label>
            <input matInput formControlName="thirdDiscount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>صافي الفاتورة</mat-label>
            <input matInput readonly formControlName="totalNetAmount">
          </mat-form-field>
        </div>

        <div class="summary-row">
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>نسبة الضريبة</mat-label>
            <input matInput   formControlName="taxPrecentage">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي الضريبة</mat-label>
            <input matInput readonly formControlName="taxValue">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي النقاط</mat-label>
            <input matInput readonly formControlName="totalPoints">
          </mat-form-field>
        </div>


      </div>
    </div>

    <!-- أزرار الحفظ -->
    <div class="form-actions  w-25 d-flex justify-content-between align-items-center">
      <button   [disabled]="!invoiceForm.valid" type="submit" class="action-btn primary-btn d-flex justify-content-evenly align-items-center">
        <mat-icon>save</mat-icon>
        <span>حفظ الفاتورة</span>
      </button>

    </div>
  </form>
</div>
