<div class="w-100 d-flex justify-content-center align-items-center">
  <h2 class="w-25 text-center"> المنتجات </h2>
</div>
<hr style="border-color: var(--gold); opacity: 0.5; margin: 10px 0;">
@if (!isLoaded) {
    <p  class="text-center" style="color: var(--gold);">Loading...</p>
}
@else  {
    <div class="w-100 me-auto  d-flex justify-content-end">
       <button class="add-coupon-btn  " (click)="openAddEditPopup()">
    <mat-icon>add</mat-icon>
     إضافة منتج جديد
  </button>
  </div>


 <div class="d-flex justify-content-center align-items-center gap-3 my-3">

  <!-- زرار إضافة كوبون -->


<form [formGroup]="form" class="popup-form ">
  <div class="w-100 d-block">
  <mat-form-field class=" custom-input-theme ms-2" appearance="outline">
    <mat-label>اسم المنتج</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>


  <mat-form-field  appearance="outline" class="ms-2 custom-input-theme">
    <mat-label>اختر الفئة</mat-label>
    <mat-select formControlName="categoryName">
      <mat-option *ngFor="let cat of categories" [value]="cat.name">{{ cat.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle formControlName="isDeleted" >عرض المنتجات المحذوفة</mat-slide-toggle>
</div >
<div class="d-flex justify-content-center">
  <button
    mat-raised-button
    class="add-coupon-btn px-3 ms-2  m-0"
    (click)="applyFilters()"
  >
   <mat-icon aria-hidden="false" aria-label="Search icon" >search</mat-icon>

   ابحث
  </button>
   <button
    mat-raised-button
    class="add-coupon-btn px-3  m-0"
(click)="ReAsign()"
  >
   <mat-icon aria-hidden="false" aria-label="Search icon" >refresh </mat-icon>

   إعادة تعيين
  </button>
  </div>
</form>

</div>


  <div class="table-container mat-elevation-z8">
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

   @for (col of columns; track col.key) {
  <ng-container [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef> {{ col.label }} </th>
    <td mat-cell *matCellDef="let element">
      @switch (col.type) {





        @case ('currency') {
          <span>{{ element[col.key] | currency:'EGP':'symbol' }}</span>
        }
        @case('date') {
  <span>
    {{ element[col.key] | date:'fullDate' }} - {{ element[col.key] | date:'shortTime' }}
  </span>
}

  @case ('boolean') {
  <mat-slide-toggle
      [checked]="!element[col.key]"
      (change)="ToggleCategoryStatus(element, $event.checked)"
        class="delete-toggle"

  >
  </mat-slide-toggle>
}

    @case ('actions') {
    <div class="action-buttons">

<!-- داخل الجدول -->
<button mat-icon-button color="primary" class="border-0 bg-transparent" (click)="openAddEditPopup(element)">
  <mat-icon>edit</mat-icon>
</button>


    </div>
  }

        @default {

            <span>{{ element[col.key] ?? '-'}}</span>

        }
      }
    </td>
  </ng-container>
}


    <tr mat-header-row *matHeaderRowDef="displayedColumnKeys"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnKeys"></tr>
  </table>
   <div dir="rtl" class="paginator-container">
  <mat-paginator
    [length]="totalCount"
    [pageSize]="filters.pageSize"
    [pageIndex]="filters.page - 1"
    [pageSizeOptions]="[5, 10, 20,30,50,100]"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
    aria-label="جدول المنتجات">
  </mat-paginator>
</div>

</div>
<ng-template #loading>
    <div class="flex justify-center p-4">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

}
